---
import Social from "./Social.astro";
// import { FaGithub, FaTwitter, FaYoutube } from "react-icons/fa";
// TODO : Use Icons for the social media platform..

---

<footer>
  <!-- <p>Learn more about my projects on : </p> -->
  <Social platform="github" username="primayuda" />
  <Social platform="twitter" username="a_primayuda" />
  <Social platform="youtube" username="@PrimayudaID" />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>